@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
       
header, footer {
    background: #acd2e3;
    padding: 10px 20px;
    text-align: center;
}

.field {
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    height: 30px;
    margin-top: 6px;
}

input [type="submit"] {
    display: block;
    margin: 20px 0;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #0056b3;
}
       
h4 {
    margin-top: 20px;
}

p {
    margin: 10px 0;
}